<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <a class="navbar-brand" href="/">Flask App</a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if current_user.is_anonymous%}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                {% else %}

                {% if current_user.is_admin() %}
                <li class="nav-item">
                    <a class="nav-link" href="/control_panel">Control Panel</a>
                </li>
                {% endif %}

                {% if current_user.is_admin() or current_user.is_user() %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="/account">Account</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

                {% endif %}
            </ul>
        </div>

    </nav>
</div>